[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

@font-face {
  font-family: 'fifaFont';
  src: url('EASansCurves-Regular.ttf'); /* IE9 Compat Modes */
}

body {
	border: 1px solid #EEEEEE;
}


.saveBtn {
	float: right;
	background: #20bdbe !important;
}

#saveConfirm p {
	font-size: 19px !important;
	text-align: center !important;
}

#saveConfirm h2 {
	text-align: center !important;
	color: #D84315 !important;
	font-family: fifaFont !important;
}

#saveConfirm .md-button:nth-child(1) {
	background: #D84315 !important;
	color: white !important;
	margin: 0 auto !important;
}

#saveConfirm .md-button:nth-child(2) {
    background: #3BB565 !important;
    color: white !important;
    margin: 0 auto !important;
}

.parentDiv {
	border: 35px solid #EEEEEE;
	position: relative;
    margin: -1px;
    /*background-image: radial-gradient(circle farthest-corner at top ,#FFFFFF,#BDBDBD);*/
    background: url('img/back.svg') no-repeat center center fixed;
    /*background-repeat: no-repeat;*/
    background-size: cover;
	box-shadow: inset 0 0 20px grey;
}

input {
	color: #76b68c !important;
	transition: 0.1s linear !important;
}

input[type="text"] {
	font-family: fifaFont;
	letter-spacing: 1px !important;
}

/*input[type="text"]::selection {
	background: #3F51B5 !important;
	color: white !important;
}*/

*::selection {
	background: #3F51B5 !important;
	color: white !important;
}

label {
	color: #20bdbe !important;
	letter-spacing: 3px;
}

.md-button {
	/*font-family: fifaFont !important;*/
}

.md-dialog-content-body {
	overflow-y: hidden !important; 
}
  
li, h4 {
	font-family: fifaFont;
	font-size:18px;
	color: #76b68c;
	letter-spacing: 1px;
	/*font-weight: bold;*/
	/*text-shadow: 0 0 5px grey;*/
}

.num {
	color: #466482 !important;
	font-family: fifaFont !important;
}

p {
	font-family: Century Gothic, sans-serif;
	font-size:18px;
}

/*.md-title {
	font-family: Century Gothic, sans-serif !important;
	font-size:18px;
}*/

.md-dialog-content {
	font-family: Century Gothic, sans-serif !important; 
}

h1 {
	margin-left: 30px !important;
	color: #20bdbe !important; 
	/*text-shadow: 0 0 5px grey;*/
}

.euroDiv {
    background-image: radial-gradient(circle farthest-corner at top center,#2c6a93,#000a34);
    width: 100%;
    height: 101px;
   	margin-top: 55px;
	margin-bottom: -105px;
	overflow: hidden;
	box-shadow: 10px 10px 10px #76AD65;
	/*border: 2px solid white;*/
	border-radius: 9px;
    position: relative;
    z-index: 1;
}

.euroDiv img {
	width: 500px;
}

/*.euroLogo {
	margin-top: -928px; 
	margin-left: 4%;
}*/

.worldDiv {
    width: 100%;
    height: 101px;
   	margin-top: 55px;
	margin-bottom: -105px;
	overflow: hidden;
	box-shadow: 10px 10px 10px #76AD65;
	/*border: 2px solid white;*/
	border-radius: 9px;
}


@media (max-width: 991px) {
	.worldDiv img:first-child {
		width: 710px !important;
	}
}

.worldCupStates {
    /*background-image: radial-gradient(circle farthest-corner at top center,rgba(206, 255, 169, 0.75),rgba(137, 216, 111, 0.25));*/
    background: #f5f5f5;
    border-radius: 5px;
	padding: 10px;
	box-shadow: 10px 10px 10px #76AD65;
}

.wclogo {
	margin-top: -206px; 
	width: 98px;
 	margin-left: 41%;
}

@media (max-width: 992px) {
	.wclogo {
		margin-top: -286px;
	}
}


@media (max-width: 992px) {
	.euroLogo {
		/*margin-left: 12%;*/
	    margin-top: -1256px !important;
	}

	.euroDiv img:first-child {
		width: 665px !important;
	}
}


@media (max-width: 380px) {
	.wcLogo {
	    margin-left: 29%;
	}

	.lsLogo {
	    margin-left: 31% !important;
	}

	.naslov {
		margin-left: 7px !important;
	}
}

@media (max-width: 992px) {
	.lsLogo {
		margin-top: -490px !important;
	}

	.leLogo {
	    margin-top: -605px !important;
	}
}

h1 {
	font-family: Century Gothic, sans-serif !important;
}

button {
	font-size:15px !important;
	font-family: Century Gothic, sans-serif !important;
}

/*.worldCup {
	margin-bottom: -100px;
}*/

.euroTeams {
	margin-bottom: 100px;
}

.editBtn {
    margin-bottom: 20px !important;
    margin-left: -10px !important;
    margin-top: -5px !important!;
    color:white;
}


.input1 {
	display: none;
	margin-bottom: 3px !important;
	margin-top: 20px !important;
}

.input2 {
	display: none;
	margin-bottom: 3px !important;
	margin-top: 20px !important;
}

.input3 {
	display: none;
	margin-bottom: 3px !important;
	margin-top: 20px !important;
}

.input4 {
	display: none;
	margin-bottom: 3px !important;
	margin-top: 20px !important;
}

.input5 {
	display: none;
	margin-bottom: 3px !important;
	margin-top: 20px !important;
}

.input6 {
	display: none;
	margin-bottom: 3px !important;
	margin-top: 20px !important;
}


.worldCupStates {
	margin-top: 224px;
}

.worldCupFlags {
	margin-left: 5px;
	margin-top: -1px;
}

.randomNum {
	font-size: 20px;
	margin-left: 76px;
    margin-top: 5px;
}

.championsLeague {
	margin-bottom: 50px;
}

li {
	padding: 3px;
}

.btns {
	margin-left: 42px;
}


#worldCupAlert p {
	font-family: fifaFont !important;	
	text-align: center !important;
	color: #76b68c !important;
	font-size: 27px !important;
	letter-spacing: 1px !important;
}


#worldCupAlert h2 {
	font-family: fifaFont !important;	
	text-align: center !important;
	color: #3F51B5 !important;
	font-size: 27px !important;
	letter-spacing: 1px !important;
}

#worldCupAlert .md-button {
	background: #3F51B5 !important;
	color: white !important;
}

#euroCupAlert p {
	font-family: fifaFont !important;	
	text-align: center !important;
	color: #76b68c !important;
	font-size: 29px !important;
	letter-spacing: 1px !important;
}

#euroCupAlert .md-button {
	background: #3F51B5 !important;
	color: white !important;
}

#uefaChampAlert p {
	font-family: fifaFont !important;	
	text-align: center !important;
	color: #76b68c !important;
	font-size: 29px !important;
	letter-spacing: 1px !important;
}

#uefaChampAlert .md-button {
	background: #3F51B5 !important;
	color: white !important;
}

#uefaEuroAlert p {
	font-family: fifaFont !important;	
	text-align: center !important;
	color: #76b68c !important;
	font-size: 29px !important;
	letter-spacing: 1px !important;
}

#uefaEuroAlert .md-button {
	background: #3F51B5 !important;
	color: white !important;
}


#custom1 p {
	font-family: fifaFont !important;	
	text-align: center !important;
	color: #76b68c !important;
	font-size: 29px !important;
	letter-spacing: 1px !important;
}

#custom1 .md-button {
	background: #3F51B5 !important;
	color: white !important;
}

.footer {
	height: 10px;
	background: #EEEEEE !important; 
	margin: -1px !important;
	border-radius:0px !important; 
	border:1px solid #EEEEEE !important;
}

@media (max-width: 676px) {
	.footer {
	    height: 72px !important;
	}
}

@media (max-width: 370px) {
	.footer {
		height: 121px !important;
	}
}

.footer p {
	color: #20bdbe !important;
	font-family: fifaFont;
	letter-spacing: 3px;
}

.footer p > a {
	transition: 0.2s linear;
	color: #76b68c  !important;
}

.footer p:first-child {
	padding-top: 10px;
}


@media (max-width: 991px) {
	.avatar {
		top: 110px !important;
	}
}

@media (max-width: 405px;) {
	.avatar {
		top: 110px !important;
		left: 17%;
	}
}

.md-select:active {
	color: #20bdbe !important;
}


.customDiv {
	width: 100%;
    height: 40%;
   	margin-top: 50px;
	margin-bottom: 50px;
	overflow: hidden;
    box-shadow: 0 0 25px #DADADA;
	/*border: 2px solid white;*/
	border-radius: 9px;
	padding: 20px !important;
} 

.customCT {
    /*background-image: radial-gradient(circle farthest-corner at top center,rgba(206, 255, 169, 0.75),rgba(137, 216, 111, 0.25));*/
    background: #f5f5f5;
    border-radius: 5px;
	padding: 10px;
	box-shadow: 10px 10px 10px #76AD65;
}

.burger {
	width: 50px;
	height: 50px;
    position: fixed !important;
    /*left: 50px;*/
    top: 100px;
    cursor: pointer;
    margin-top: 55px !important;
    z-index: 66;
}

.burgerParent {
	margin-left: 4px;
	margin-top: -4px;
}

.burger1 {
	margin-top: 3px;
	border-radius: 3px;
	width: 20px;
	height: 3px;
	background: #EEEEEE;
}

.burger2 {
	margin-top: 3px;
	border-radius: 3px;
	width: 20px;
	height: 3px;
	background: #EEEEEE;
}

.burger3 {
	margin-top: 3px;
	border-radius: 3px;
	width: 20px;
	height: 3px;
	background: #EEEEEE;
}

.white {
	/*position: fixed;*/
    width: 100%;
    display: block;
    height: 100%;
    background: #EEEEEE;
    z-index: 55;
    top: 0%;
    display: none;
    border: 1px solid #EEEEEE;
    left: -1px
}
