<!DOCTYPE html>
<html>
	<head>
		<title>FIFA Randomizer</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="theme-color" content="#8dc63f">
		<link rel="stylesheet" type="text/css" href="libs/css/style.css">
		<link rel="stylesheet" type="text/css" href="libs/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="libs/css/angular-material.css">
		<link rel="shortcut icon" href="libs/css/img/logo.png">
		<script type="text/javascript" src="libs/js/angular.js"></script>
		<script type="text/javascript" src="libs/js/jquery-1.12.3.min.js"></script>
		<script type="text/javascript" src="libs/js/angular-material.js"></script>
		<script type="text/javascript" src="libs/js/angular-aria.js"></script>
		<script type="text/javascript" src="libs/js/angular-animate.js"></script>
		<script type="text/javascript" src="libs/js/TweenLite.js"></script>
		<script type="text/javascript" src="libs/js/TweenMax.js"></script>
		<script type="text/javascript" src="libs/js/EasePack.js"></script>
		<script type="text/javascript" src="libs/js/CSSPlugin.js"></script>
	</head>
	<body ng-app="randomizer" >

	<div id="worldCupAlert"></div>
	<div id="euroCupAlert"></div>
	<div id="uefaChampAlert"></div>
	<div id="uefaEuroAlert"></div>
	<div id="custom1"></div>
	<div id="custom2"></div>
	<div id="saveConfirm"></div>

	<div class="parentDiv" ng-cloak>

	<div ng-controller="customCtrl">
        <md-button class="md-fab md-mini md-primary burger" aria-label="Eat cake" style="position:absolute;z-index:66;overflow:hidden;margin-left: -19px;">
            <!-- <img src="libs/css/img/burger.png" width="20px;"></img> -->
            <div class="burgerParent">
	            <div class="burger1"></div>
	            <div class="burger2"></div>
	            <div class="burger3"></div>
            </div>
        </md-button>

		<div class="white">
			<h1 class="naslov" align="center" 
			style="
			color: #20bdbe !important;
			font-family: fifaFont !important;
			font-size: 45px">
			Custom Tournament
			</h1>

			<div class="container">
				<div style="margin-top:50px !important;">
					<div class="col-md-6" ng-controller="custom16Ctrl">
						<div class="customDiv">
							<h1 style="font-family: fifaFont !important;">{{tourName}}</h1>
							<md-input-container class="input8" style="margin-bottom: 3px;margin-top: 26px; float:right">
						        <label style="letter-spacing: 1px;">Tournament Name</label>
						        <input type="text" ng-model="tourName">
					        </md-input-container>
							<ol>
							<md-button class="md-raised md-primary editBtn edit5" ng-click="edit()">{{editovanje}}</md-button>
							<md-button class="md-raised md-primary saveBtn save5" ng-click="save([team.name, tourName])">Save</md-button>
								<li ng-repeat="name in t16">
									<md-input-container class="input5" style="margin-bottom: 3px;">
								        <label>Country / Team</label>
								        <input type="text" ng-model="name.name">
							        </md-input-container>
									{{name.name}} 
								</li>
							</ol>
							<md-button class="md-warn md-raised md-hue-2 luck5" style="background: #33B780 !important" ng-click="luck()">Guess Luck!</md-button>
							<!-- <md-button class="md-raised md-primary" style="background: #33B780 !important" ng-click="randomWorldState()">Click for number</md-button> -->
							<md-button class="md-raised md-primary country5" ng-click="custom1Random()">Randomize Countries / Teams</md-button>
							<!-- <h4 class="randomNum num">{{randomNum}}</h4> -->
						</div>
					</div>
				</div>
				<div style="margin-top:50px !important;">
					<div class="col-md-6" ng-controller="custom8Ctrl">
					<div class="customDiv">
						<h1 style="font-family: fifaFont !important;">{{tourName}}</h1>
						<md-input-container class="input7" style="margin-bottom: 3px;margin-top: 26px; float:right">
					        <label style="letter-spacing: 1px;">Tournament Name</label>
					        <input type="text" ng-model="tourName">
				        </md-input-container>
						<ol>
						<md-button class="md-raised md-primary editBtn edit6" ng-click="edit()">{{editovanje}}</md-button>
						<md-button class="md-raised md-primary saveBtn save6" ng-click="save(name.name)">Save</md-button>
							<li ng-repeat="name in t8">
								<md-input-container class="input6" style="margin-bottom: 3px;">
							        <label>Country / Team</label>
							        <input type="text" ng-model="name.name">
						        </md-input-container>
								{{name.name}} 
							</li>
						</ol>
						<md-button class="md-warn md-raised md-hue-2 luck6" style="background: #33B780 !important" ng-click="luck()">Guess Luck!</md-button>
						<!-- <md-button class="md-raised md-primary" style="background: #33B780 !important" ng-click="randomWorldState()">Click for number</md-button> -->
						<md-button class="md-raised md-primary country6" ng-click="custom2Random()">Randomize Countries / Teams</md-button>
						<!-- <h4 class="randomNum num">{{randomNum}}</h4> -->
					</div>
				</div>
			</div>
	</h1>
		</div>
	</div>

<div class="all">
	<h1 class="naslov" align="center" 
		style="
		color: white !important;
		font-family: fifaFont !important;
		font-size: 45px">

			FIFA Randomizer
	</h1>

		<!-- World Cup States -->
		<div class="container">
			<div class=" worldCup col-md-6" ng-cloak ng-controller="worldCupController">
				<div class="worldDiv">
					<img src="libs/css/img/wc.jpg" style="width: 550px;">
					<img src="libs/css/img/wcLogo.png" class="wclogo" >
				</div>
				<div class="worldCupStates">
					<img class="avatar" src="libs/css/img/russia.png" class="lsLogo" 
					style="
					    width: 211px;
					    top: 165px;
					    left: 32%;
					    position: absolute;" >

					<h1 style="font-family: fifaFont !important;">World Cup</h1>
					<ol>
						<!-- <button class="btn btn-primary edit"  style="margin-bottom: 15px;" ng-click="edit()">{{editovanje}}</button> -->
						<md-button class="md-raised md-primary editBtn edit" ng-click="edit()">{{editovanje}}</md-button>
						<md-button class="md-raised md-primary saveBtn save" ng-click="save(state.name)">Save</md-button>
						<li ng-repeat="state in states">
							<!-- <input class="input1" type='text' ng-model="state.name"></input> -->
							<md-input-container class="input1" style="margin-bottom: 3px;">
						        <label>Country</label>
						        <input type="text" ng-model="state.name">
					        </md-input-container>
							{{state.name}} 
						</li>
					</ol>
					<md-button class="md-warn md-raised md-hue-2 luck" style="background: #33B780 !important" ng-click="luck()">Guess Luck!</md-button>
					<!-- <md-button class="md-raised md-primary" style="background: #33B780 !important" ng-click="randomWorldState()">Click for number</md-button> -->
					<md-button class="md-raised md-primary country" ng-click="randomNumWStates()">Randomize Countries</md-button>
					<!-- <h4 class="randomNum num">{{randomNum}}</h4> -->
				</div>
				

			</div>
			<!-- World Cup States -->


			<!-- Euro Cup States -->
			<div class=" worldCup col-md-6" ng-cloak ng-controller="euroCupController">
				<div class="euroDiv">
					<img src="libs/css/img/euroHead.png" style="opacity: 0.3; position:relative;z-index:-1">
					<img src="libs/css/img/euroLogo.svg" class="euroLogo" width="90px" height="90px;" style="margin-top: -927px;width: 83px;margin-left: 43%;">
				</div>
				<div class="worldCupStates">

					<img class="avatar" src="libs/css/img/france.png" class="lsLogo" 
					style="
					    width: 211px;
					    top: 166px;
					    left: 32%;
					    position: absolute;
				        z-index: 1;" >

					<h1 style="font-family: fifaFont !important;">Euro Cup</h1>
					<ol>
						<!-- <button class="btn btn-primary edit2" style="margin-bottom: 15px;" ng-click="edit()">{{editovanje}}</button> -->
						<md-button class="md-raised md-primary editBtn edit2" ng-click="edit()">{{editovanje}}</md-button>
						<md-button class="md-raised md-primary saveBtn save2" ng-click="save(state.name)">Save</md-button>

						<li ng-repeat="state in states">
							<!-- <input class="input2" type='text' ng-model="state.name"></input> -->
							<md-input-container class="input2" style="margin-bottom: 3px;">
						        <label>Country</label>
						        <input type="text" ng-model="state.name">
						    </md-input-container>
							{{state.name}} 
							
						</li>
					</ol>
					<md-button class="md-warn md-raised md-hue-2 luck2" style="background: #33B780 !important" ng-click="luck()">Guess Luck!</md-button>
					<!-- <md-button class="md-raised md-primary" style="background: #33B780 !important" ng-click="randomEuroState()">Click for number</md-button> -->
					<md-button class="md-raised md-primary country2" ng-click="randomNumEStates()">Randomize Countries</md-button>

					<!-- <h4 class="randomNum num">{{randomNum}}</h4> -->
				</div>

			</div>
		</div>
		<!-- Euro Cup States -->

		<div class="container euroTeams">
			<!-- Uefa Champions League -->
			<div class="col-md-6 worldCup LSDiv" ng-cloak ng-controller="uefaChampController">
				<div class="worldDiv">
					<img src="libs/css/img/ls.jpg" style="width: 550px;">
					<img src="libs/css/img/lsLogo.png" class="lsLogo" style="margin-top: -366px;width: 83px;margin-left: 43%;" >
				</div>
				<div class="worldCupStates">

					<img class="avatar" src="libs/css/img/lsMan.png" class="lsLogo" 
					style="
					    width: 211px;
					    top: 165px;
					    left: 32%;
					    position: absolute;" >


					<h1 style="font-family: fifaFont !important;">Uefa Champions League </h1>
					<ol>
						<!-- <button class="btn btn-primary edit3" style="margin-bottom: 15px;" ng-click="edit()">{{editovanje}}</button> -->
						<md-button class="md-raised md-primary editBtn edit3" ng-click="edit()">{{editovanje}}</md-button>
						<md-button class="md-raised md-primary saveBtn save3" ng-click="save(team.name)">Save</md-button>

						<li ng-repeat="team in teams">
							<!-- <input class="input3" type='text' ng-model="team.name"></input> -->
							<md-input-container class="input3">
						        <label>Team</label>
						        <input type="text" ng-model="team.name">
						    </md-input-container>
							{{team.name}} 
							
						</li>
					</ol>
					<md-button class="md-warn md-raised md-hue-2 luck3" style="background: #33B780 !important" ng-click="luck()">Guess Luck!</md-button>
					<!-- <md-button class="md-raised md-primary" style="background: #33B780 !important" ng-click="randomUefaChampionsTeamsNumber()">Click for number</md-button> -->
					<md-button class="md-raised md-primary team3" ng-click="randomUefaChampionsTeams()">Randomize Teams</md-button>

					<!-- <h4 class="randomNum num">{{randomNum}}</h4> -->
				</div>
	
			</div>
			<!-- Uefa Champions League  -->


			<!-- Euro Champions League -->
			<div class="col-md-6 championsLeague leDiv" ng-cloak ng-controller="euroChampController">
				<div class="worldDiv">
					<img src="libs/css/img/le.jpg" style="width: 550px; margin-top: -57px;">
					<img src="libs/css/img/leLogo.png" class="leLogo" style="margin-top: -435px; width: 84px;margin-left: 66px;" >
				</div>
				<div class="worldCupStates">
					<img class="avatar" src="libs/css/img/leMan.png" class="lsLogo" 
					style="
					    width: 211px;
					    top: 165px;
					    left: 32%;
					    position: absolute;" >

					<h1 style="font-family: fifaFont !important;">Uefa Europe League</h1>
					<ol>
						<!-- <button class="btn btn-primary edit4" style="margin-bottom: 15px;" ng-click="edit()">{{editovanje}}</button> -->
						<md-button class="md-raised md-primary editBtn edit4" ng-click="edit()">{{editovanje}}</md-button>
						<md-button class="md-raised md-primary saveBtn save4" ng-click="save(state.name)">Save</md-button>

						<li ng-repeat="team in teams">
							<!-- <input class="input4" type='text' ng-model="team.name"></input> -->
							<md-input-container class="input4" style="margin-bottom: 3px;">
						        <label>Team</label>
						        <input type="text" ng-model="team.name">
					        </md-input-container>
							{{team.name}} 
						</li>
					</ol>
						<md-button class="md-warn md-raised md-hue-2 luck4" style="background: #33B780 !important" ng-click="luck()">Guess Luck!</md-button>
						<!-- <md-button class="md-raised md-primary" style="background: #33B780 !important" ng-click="randomUefaChampionsTeamsNumber()">Click for number</md-button> -->
						<md-button class="md-raised md-primary team4" ng-click="randomUefaChampionsTeams()">Randomize Teams</md-button>

						<!-- <h4 class="randomNum num">{{randomNum}}</h4> -->
				</div>
				
			</div>
			<!-- Euro Champions League  -->
		</div>	
		</div>	
			<div class=" footer navbar navbar-default navbar-bottom-fixed">
				<p align="center">Built By Zarko Mladenovic | <a href="http://www.zarkomladenovic.com/" target="_blank">www.zarkomladenovic.com</a></p>
				<p align="center">All Rights Reserved | &copy 2016 </p>
			</div>
		</div>

		<script type="text/javascript" src="libs/js/controllers.js"></script>
	</body>
</html>